[submodule "libs/sdl"]
	path = libs/sdl
	url = git@github.com:libsdl-org/SDL.git
[submodule "libs/SDL"]
	path = libs/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "libs/GLFW"]
	path = libs/GLFW
	url = git@github.com:glfw/glfw.git
[submodule "libs/glm"]
	path = libs/glm
	url = git@github.com:g-truc/glm.git
[submodule "libs/ImGui"]
	path = libs/ImGui
	url = git@github.com:ocornut/imgui.git
